<div>
  <table>
    <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].nickname %></td>
        <td><%= data[i].email %></td>
        <td><%= data[i].fullname %></td>
      </tr>
      <% } %>
    </table>
</div>
