.user{

}
.content{
  display: flex;
}
.sidemenu{
  display: flex;
  flex-direction: column;
}

body{
  background: radial-gradient(circle at center, #33ccff 0%, #ff99cc 100%);
  background-repeat: no-repeat;

}
